@charset "UTF-8";
*{
  margin: 0;
  padding: 0;
  outline: none;

}

html, body {
  height: 100%;


}

body{
  max-width: 100%;
  max-height: 100%;
  background: rgb(177, 236, 237);
  font-size: lem;
  font-family: "Segoe UI", sans-serif;
  line-height: 135%;


}

a {
  text-decoration: none;
  transition: all.6s ease;
  -moz-transition: all.6s ease;
  -webkit-transition: all.6s ease;
  -ms-transition: all.6s ease;


}


a:hover {
  text-decoration: none;
  transition: all.6s ease;
  -moz-transition: all.6s ease;
  -webkit-transition: all.6s ease;
  -ms-transition: all.6s ease;

}

.wrapper {
  margin: 0 auto;
  position: relative;
}

.right{
  float: right;
}

.left{
  float: left;
}
.clear{
  clear: both;
}



header{
  border-bottom: 2px solid rgb(19, 175, 181);
  padding: 1%;
  height: 5%;
  background-color: rgb(52, 241, 249);
}

#g a {
  float: left;
  font-size: 2em;
  font-family: Comic Sans MS, sans-serif;
  font-size: 2em;
  white-space: pre;
  text-indent: 2%;
  margin-left: 7%;
  margin-top: -5%;
  color:rgb(38, 38, 36);
  position: absolute;


}

#g a:hover{
  color: rgb(169, 25, 195);
     cursor: pointer;
}

img{
  margin-left:6%;
  height: 120%;
}

#like a{
  float: right;
  margin-right: 3%;
  font-size: 1.5em;
  font-family: SEGOE PRINT;
  color: rgb(129, 134, 133);
  margin-top: -2%;

}

#like a:hover{
  color: rgb(194, 39, 205);
}

left{
  float: left;
  width: 10%;
  height: 71%;
  background-color: rgb(219, 221, 208);

  padding: 2%;
  font-family: FANTASY;
  font-size: 1.8em;
  text-indent: 3%;
  border-right: 1px solid  rgb(52, 241, 249);
  position: relative; z-index: 1;


}

left img{
  float: left;
  height: 4%;
 margin-left: 5%;
 margin-top: -11%;

}

#tovar{
  font-family: sans-serif;
  color: rgb(169, 25, 195);
  margin-top: -10%;
  font-weight: 700;
}

#cattovar a{
  float: inherit;
  font-family: sans-serif;
   cursor: pointer;
   color: black;
   display: block;
  line-height: 50px;
  margin-left: -5%;

}

#cattovar a:hover{
  color: rgb(169, 25, 195);
     font-weight: 700;
}

#sale{
  margin-left: 30.5%;
  height: 8%;
  background-color: rgb(19, 175, 181);
  width: 45%;
border: 2px solid  rgb(52, 241, 249);
border-top: none;
border-bottom-right-radius: 20px;
border-bottom-left-radius: 20px;
padding: 0.5%;
padding-top: 1%;
font-size: 1.3em;
font-family: SEGOE PRINT;
color: rgb(222, 212, 219);


}


#catsale a{
  float: left;
  margin: 1% ;
  margin-left: 1%;
 margin-top: 1%;
 background-color: rgb(128, 75, 251);
 padding: 4px;
 padding-top: 5px;
 border-radius: 8px;

}

#catsale a:hover{
 background-color: rgb(158, 29, 91);
 color: rgb(238, 50, 218);
}

.center, .center1{\
  display: flex;
  float: left;

 margin-top: 2%;
margin-bottom: 1%;

 font-size: 1em;
   font-family: sans-serif;
   font-weight: 600;
     color: rgb(169, 25, 195);
     width: 12%;

     height: 23%;
     padding-top: 1%;
     text-align: center;
    background: linear-gradient(to bottom, rgb(52, 241, 249) 23%, white 60%);
 border-radius: 15%;
   }

.center a:hover, .center1 a:hover{
  color: rgb(19, 175, 181);
  text-decoration: underline;
  border: 2px solid rgb(19, 175, 181);
  border-radius: 10%;
}


   .center{
     margin-left: 30px;

   }

   .center1{
     margin-left: 65px;
   }


  .foto img {
 width: 50%;
 height: 10%;
 margin-top: 5px;
 margin-left: 3%;
 border-radius: 10%;
 border: 2px solid rgb(52, 241, 249);
}

/* #text{
  float: left;
background-color: rgb(219, 221, 208);
 height: 21%;
 width: 8%;
 margin-top: 7px;
 position: fixed;
 margin-left: 5px;
} */

footer{
  margin-top: 33%;
  background-color: rgb(52, 241, 249);
  height: 15%;
    border-top: 2px solid rgb(19, 175, 181);
  position: relative; z-index: 2;

}


#sait a{
float: right;
margin-top: 3%;

margin-right: 3%;
 font-size: 1.5em;

 word-spacing: 5px;
   font-family: sans-serif;
   font-weight: 600;

}


#sait a:hover{
   background-color:rgb(233, 240, 213);
   padding: 1px;
   border-radius: 5px;
   text-indent: 3px;

}

#telefon {

    float: left;
    font-size: 1.5em;
    margin-left: 5%;
      color: rgb(169, 25, 195);
      font-weight: 600;
        white-space: pre;
        line-height: 30px;
}

#telefon a{
    color: rgb(169, 25, 195);

}

#telefon a:hover{

  border-bottom: 5px solid;
  border-color: black;
}
